.all{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
}
@keyframes fadeInLeft {
  from {
    filter: blur(10px);
    transform: scale(0.95);
  }

  to {
    filter:blur(0);
    transform: none;
  }
}
.mod{
    width:80%;
    height:100%;
    z-index:1;
    animation: fadeInLeft .7s linear;
    animation-fill-mode: both;
    animation-delay: .5s;
}
.bcg{
    position: fixed;
    width:100%;
    // height:100%;
    //  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // /* 背景尺寸 - 原理3 */
    // background-size: 1000% 1000%;
    // /* 循环动画 - 原理4 */
    // animation: gradientBG 12s ease infinite;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
.left{
    width:50%;
    height:100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .6s;
    opacity: 1;
    visibility: visible;
}
.right{
    width:50%;
    height:100%;
    float: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: .6s;
    opacity: 1;
    visibility: visible;
}
.righthook{
    width:50%;
    height:100%;
    float: left;
    display: grid;
    transition: .6s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right:0;
}
.leftbotton{
    width:70px;
    height:40px;
    background-color: #00000040;
    border-radius: 15px;
    font-size:18px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.rightbotton{
    width:70px;
    height:40px;
    background-color: #00000040;
    border-radius: 15px;
    font-size:18px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: start;
    display: none;
}
@media (max-width:992px) {
    .right{
        opacity: 0;
        visibility: hidden;
        grid-template-rows: 2fr 2fr 1fr;
    }
    .left,.right,.righthook{
        width:100%;
        position: absolute;
        top:0;
        left:0;
    }
    .leftbotton,.rightbotton{
        display: flex;
    }
    .img{
        height:100vh;
        // width:100vw;
        position: absolute;
        // clip:rect(0px,250px,200px,50px);
    }
}
@media (min-width:992px) {
    .right{
        opacity: 1;
        visibility: visible;
    }
    .leftbotton,.rightbotton{
        display: none;
    }
    img{
        width:100%;
    }
}