.all{
    height:40px;
    width:100%;
    font-size:24px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    box-sizing: border-box;
    cursor: pointer;
}
.title{
    justify-self: center;
    align-self: center;
    font-size:20px;
    font-weight:700;
}
.back{
    justify-self: center;
    align-self: center;
    transition:transform .6s ease;
    color:white;
}
.back:hover{
    transform:scale(1.2);
    
}