.input{
    width:50%;
    height:50%;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    border:none;
    background-color: #f7f7f7;
    padding-left:20px;
    padding-right: 20px;
    overflow-x: hidden;
    color:#f39c12;
    font-size:larger;
}
.input:focus{
    border:none;
    outline: none;
}